body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #e7eef4, hsl(207, 56%, 72%));
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #e7eef4, hsl(207, 56%, 72%));
}


.logo {
    max-width: 150px;
    border-radius: 50%;
    background: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* Transparan arka plan */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #1a73e8;
}

ul, ol {
    margin-left: 20px;
}

.contact-info, .hobbies {
    display: flex;
    flex-direction: column; /* İçerikler alt alta olacak şekilde düzenlendi */
    gap: 10px;
}

.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto 50px;
}
